@import "colour-palette.less";
@import "variables.less"

// TYPOGRAPHY
	// Body
.font-body { font-family: @brick-ui-font-body; }
.font-body-performance { font-family: @brick-ui-font-body-performance; }
	// Headings
.font-heading { font-family: @brick-ui-font-heading; }
.font-heading-performance { font-family: @brick-ui-font-heading-performance; }
	// Source Code
.font-sourcecode { font-family: @brick-ui-font-sourcecode; }
.font-sourcecode-performance { font-family: @brick-ui-font-sourcecode-performance; }

// COLOR MIXINS
	// Text color
		// Red
.txtc-red-v1 { color: @brick-ui-cp-red-v1; }
.txtc-red-v2 { color: @brick-ui-cp-red-v2; }
.txtc-red-v3 { color: @brick-ui-cp-red-v3; }
.txtc-red-v4 { color: @brick-ui-cp-red-v4; }
.txtc-red-v5 { color: @brick-ui-cp-red-v5; }
.txtc-red-v6 { color: @brick-ui-cp-red-v6; }
.txtc-red-v7 { color: @brick-ui-cp-red-v7; }
.txtc-red-v8 { color: @brick-ui-cp-red-v8; }
.txtc-red-v8 { color: @brick-ui-cp-red-v9; }

		// Orange
.txtc-orange-v1 { color: @brick-ui-cp-orange-v1; }
.txtc-orange-v2 { color: @brick-ui-cp-orange-v2; }
.txtc-orange-v3 { color: @brick-ui-cp-orange-v3; }
.txtc-orange-v4 { color: @brick-ui-cp-orange-v4; }
.txtc-orange-v5 { color: @brick-ui-cp-orange-v5; }
.txtc-orange-v6 { color: @brick-ui-cp-orange-v6; }
.txtc-orange-v7 { color: @brick-ui-cp-orange-v7; }
.txtc-orange-v8 { color: @brick-ui-cp-orange-v8; }
.txtc-orange-v9 { color: @brick-ui-cp-orange-v9; }

		// Yellow
.txtc-yellow-v1 { color: @brick-ui-cp-yellow-v1; }
.txtc-yellow-v2 { color: @brick-ui-cp-yellow-v2; }
.txtc-yellow-v3 { color: @brick-ui-cp-yellow-v3; }
.txtc-yellow-v4 { color: @brick-ui-cp-yellow-v4; }
.txtc-yellow-v5 { color: @brick-ui-cp-yellow-v5; }
.txtc-yellow-v6 { color: @brick-ui-cp-yellow-v6; }
.txtc-yellow-v7 { color: @brick-ui-cp-yellow-v7; }
.txtc-yellow-v8 { color: @brick-ui-cp-yellow-v8; }
.txtc-yellow-v9 { color: @brick-ui-cp-yellow-v9; }

		// Green
.txtc-green-v1 { color: @brick-ui-cp-green-v1; }
.txtc-green-v2 { color: @brick-ui-cp-green-v2; }
.txtc-green-v3 { color: @brick-ui-cp-green-v3; }
.txtc-green-v4 { color: @brick-ui-cp-green-v4; }
.txtc-green-v5 { color: @brick-ui-cp-green-v5; }
.txtc-green-v6 { color: @brick-ui-cp-green-v6; }
.txtc-green-v7 { color: @brick-ui-cp-green-v7; }
.txtc-green-v8 { color: @brick-ui-cp-green-v8; }
.txtc-green-v9 { color: @brick-ui-cp-green-v9; }

		// Blue
.txtc-blue-v1 { color: @brick-ui-cp-blue-v1; }
.txtc-blue-v2 { color: @brick-ui-cp-blue-v2; }
.txtc-blue-v3 { color: @brick-ui-cp-blue-v3; }
.txtc-blue-v4 { color: @brick-ui-cp-blue-v4; }
.txtc-blue-v5 { color: @brick-ui-cp-blue-v5; }
.txtc-blue-v6 { color: @brick-ui-cp-blue-v6; }
.txtc-blue-v7 { color: @brick-ui-cp-blue-v7; }
.txtc-blue-v8 { color: @brick-ui-cp-blue-v8; }
.txtc-blue-v9 { color: @brick-ui-cp-blue-v9; }

		// Purple
.txtc-purple-v1 { color: @brick-ui-cp-purple-v1; }
.txtc-purple-v2 { color: @brick-ui-cp-purple-v2; }
.txtc-purple-v3 { color: @brick-ui-cp-purple-v3; }
.txtc-purple-v4 { color: @brick-ui-cp-purple-v4; }
.txtc-purple-v5 { color: @brick-ui-cp-purple-v5; }
.txtc-purple-v6 { color: @brick-ui-cp-purple-v6; }
.txtc-purple-v7 { color: @brick-ui-cp-purple-v7; }
.txtc-purple-v8 { color: @brick-ui-cp-purple-v8; }
.txtc-purple-v9 { color: @brick-ui-cp-purple-v9; }

		// Grey
.txtc-grey-v1 { color: @brick-ui-cp-grey-v1; }
.txtc-grey-v2 { color: @brick-ui-cp-grey-v2; }
.txtc-grey-v3 { color: @brick-ui-cp-grey-v3; }
.txtc-grey-v4 { color: @brick-ui-cp-grey-v4; }
.txtc-grey-v5 { color: @brick-ui-cp-grey-v5; }
.txtc-grey-v6 { color: @brick-ui-cp-grey-v6; }
.txtc-grey-v7 { color: @brick-ui-cp-grey-v7; }
.txtc-grey-v8 { color: @brick-ui-cp-grey-v8; }
.txtc-grey-v9 { color: @brick-ui-cp-grey-v9; }

		// Black, white
.txtc-black { color: @brick-ui-cp-black; }
.txtc-white { color: @brick-ui-cp-white; }

		// Default text color
.txtc-default { color: @brick-ui-cp-default; }

	// Background Colors 
		// Red
.bg-red-v1 { background-color: @brick-ui-cp-red-v1; }
.bg-red-v2 { background-color: @brick-ui-cp-red-v2; }
.bg-red-v3 { background-color: @brick-ui-cp-red-v3; }
.bg-red-v4 { background-color: @brick-ui-cp-red-v4; }
.bg-red-v5 { background-color: @brick-ui-cp-red-v5; }
.bg-red-v6 { background-color: @brick-ui-cp-red-v6; }
.bg-red-v7 { background-color: @brick-ui-cp-red-v7; }
.bg-red-v8 { background-color: @brick-ui-cp-red-v8; }
.bg-red-v9 { background-color: @brick-ui-cp-red-v9; }

		// Orange
.bg-orange-v1 { background-color: @brick-ui-cp-orange-v1; }
.bg-orange-v2 { background-color: @brick-ui-cp-orange-v2; }
.bg-orange-v3 { background-color: @brick-ui-cp-orange-v3; }
.bg-orange-v4 { background-color: @brick-ui-cp-orange-v4; }
.bg-orange-v5 { background-color: @brick-ui-cp-orange-v5; }
.bg-orange-v6 { background-color: @brick-ui-cp-orange-v6; }
.bg-orange-v7 { background-color: @brick-ui-cp-orange-v7; }
.bg-orange-v8 { background-color: @brick-ui-cp-orange-v8; }
.bg-orange-v9 { background-color: @brick-ui-cp-orange-v9; }

		// Yellow
.bg-yellow-v1 { background-color: @brick-ui-cp-orange-v1; }
.bg-yellow-v2 { background-color: @brick-ui-cp-orange-v2; }
.bg-yellow-v3 { background-color: @brick-ui-cp-orange-v3; }
.bg-yellow-v4 { background-color: @brick-ui-cp-orange-v4; }
.bg-yellow-v5 { background-color: @brick-ui-cp-orange-v5; }
.bg-yellow-v6 { background-color: @brick-ui-cp-orange-v6; }
.bg-yellow-v7 { background-color: @brick-ui-cp-orange-v7; }
.bg-yellow-v8 { background-color: @brick-ui-cp-orange-v8; }
.bg-orange-v9 { background-color: @brick-ui-cp-orange-v9; }

		// Green
.bg-green-v1 { background-color: @brick-ui-cp-green-v1; }
.bg-green-v2 { background-color: @brick-ui-cp-green-v2; }
.bg-green-v3 { background-color: @brick-ui-cp-green-v3; }
.bg-green-v4 { background-color: @brick-ui-cp-green-v4; }
.bg-green-v5 { background-color: @brick-ui-cp-green-v5; }
.bg-green-v6 { background-color: @brick-ui-cp-green-v6; }
.bg-green-v7 { background-color: @brick-ui-cp-green-v7; }
.bg-green-v8 { background-color: @brick-ui-cp-green-v8; }
.bg-green-v9 { background-color: @brick-ui-cp-green-v9; }

		// Blue
.bg-blue-v1 { background-color: @brick-ui-cp-blue-v1; }
.bg-blue-v2 { background-color: @brick-ui-cp-blue-v2; }
.bg-blue-v3 { background-color: @brick-ui-cp-blue-v3; }
.bg-blue-v4 { background-color: @brick-ui-cp-blue-v4; }
.bg-blue-v5 { background-color: @brick-ui-cp-blue-v5; }
.bg-blue-v6 { background-color: @brick-ui-cp-blue-v6; }
.bg-blue-v7 { background-color: @brick-ui-cp-blue-v7; }
.bg-blue-v8 { background-color: @brick-ui-cp-blue-v8; }
.bg-blue-v9 { background-color: @brick-ui-cp-blue-v9; }

		// Purple
.bg-purple-v1 { background-color: @brick-ui-cp-purple-v1; }
.bg-purple-v2 { background-color: @brick-ui-cp-purple-v2; }
.bg-purple-v3 { background-color: @brick-ui-cp-purple-v3; }
.bg-purple-v4 { background-color: @brick-ui-cp-purple-v4; }
.bg-purple-v5 { background-color: @brick-ui-cp-purple-v5; }
.bg-purple-v6 { background-color: @brick-ui-cp-purple-v6; }
.bg-purple-v7 { background-color: @brick-ui-cp-purple-v7; }
.bg-purple-v8 { background-color: @brick-ui-cp-purple-v8; }
.bg-purple-v9 { background-color: @brick-ui-cp-purple-v9; }

		// Grey
.bg-grey-v1 { background-color: @brick-ui-cp-grey-v1; }
.bg-grey-v2 { background-color: @brick-ui-cp-grey-v2; }
.bg-grey-v3 { background-color: @brick-ui-cp-grey-v3; }
.bg-grey-v4 { background-color: @brick-ui-cp-grey-v4; }
.bg-grey-v5 { background-color: @brick-ui-cp-grey-v5; }
.bg-grey-v6 { background-color: @brick-ui-cp-grey-v6; }
.bg-grey-v7 { background-color: @brick-ui-cp-grey-v7; }
.bg-grey-v8 { background-color: @brick-ui-cp-grey-v8; }
.bg-grey-v9 { background-color: @brick-ui-cp-grey-v9; }

		// Black, White
.bg-black { background-color: @brick-ui-cp-black; }
.bg-white { background-color: @brick-ui-cp-white; }

		// Default Background
.bg-default { background-color: @brick-ui-cp-default; }
