@import '../src/variables/colour-palette.less';
@import '../src/variables/mixins.less';
@import '../src/variables/variables.less';

.brick-ui.toc {
	background-color: @brick-ui-cp-grey-r5;
	border-radius: 2px;
	display: inline-block;
	margin: 5px;
	padding: 10px 25px 10px 35px;
	.left {
		float: left;
		border-right: 5px solid @brick-ui-cp-default;
	}
	.right {
		float: right;
		border-left: 5px solid @brick-ui-cp-default;
	}
	li a {
		color: @brick-ui-cp-default;
		text-decoration: none;
	}
}
