hr {
  	border: none;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #fff;
	display: block;
	position: relative;
	padding: 0;
	margin: 10px auto;
	height: 0;
	width: 100%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
}
