//colour palette
@brick-ui-cp-red-r5: #f72d00;
@brick-ui-cp-orange-r5: #ff8500;
@brick-ui-cp-yellow-r5: #fec400;
@brick-ui-cp-green-r5: #44cc4f;
@brick-ui-cp-blue-r5: #00a1ff;
@brick-ui-cp-purple-r5: #c900ab;
@brick-ui-cp-grey-r5: #ddd;

//black and white
@brick-ui-cp-black: #000;
@brick-ui-cp-white: #fff;

//default color
@brick-ui-cp-default: @brick-ui-cp-blue-r5;

